* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body {
	font-size: 62.5%;
	margin: 0 30px;
}

.logo {
	display: flex;
}

.verLogo,
.horizLogo {
	display: flex;
	justify-content: space-between;
	width: 25px;
	height: 25px;
}
.vertLine,
.horzLine {
	background-color: #000;
	height: 100%;
	width: 4px;
}

.horizLogo {
	transform: rotate(90deg);
	margin-left: 5px;
}

.leftNav {
	display: flex;
	gap: 30px;
	
}

.mainNav {
	display: flex;
	
	gap: 30px;
	font-size: 1.4rem;
}


