* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
	
}

html{
	font-size: 62.5%;
}

body {
	
	font-family: 'Times New Roman', Arial, sans-serif;
}


.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

/* NAVIGATION MAIN */
.firstNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 0;
	border-bottom: 2px solid rgb(240, 240, 240);
	cursor: pointer;
}

.firstNav li {
	padding: 5px 16px;
}

.logo {
	display: flex;
	margin-left: 20px;
}

.verLogo,
.horizLogo {
	display: flex;
	justify-content: space-between;
	width: 30px;
	height: 30px;
}
.vertLine,
.horzLine {
	background-color: #000;
	height: 100%;
	width: 4px;
}

.horizLogo {
	transform: rotate(90deg);
	margin-left: 5px;
}

.leftNav {
	display: flex;
	align-items: center;
	gap: 30px;
}

.mainNav {
	display: flex;
	font-family: Arial;
	font-size: 1rem;
	font-weight: 700;
}

.rightNav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.rightNav li:first-child {
	padding: 5px 16px;
	color: #0000ff;
	font-size: 17px;
	font-weight: 700;
	font-family: Arial;
}

.rightNav li:last-child {
	padding: 5px 16px;
	color: #000;
	font-family: Arial;
	font-size: 12px;
	font-weight: 700;
}

/* NAVIGATION SECOND */

.secondNav {
	position: sticky;
	top: 0;
	z-index: 10;
}

.secondNav ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding: 10px 0;
	font-family: Arial;
	font-size: 15px;
	font-weight: 700;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.secondNav ul li {
	padding: 0 16px;
}

.secondNav ul li:first-child {
	color: #ff764d;
}

/* HEADER */
.headerImg {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('./picture/header.jpg');
	height: 500px;
	background-size: cover;
	background-position: 0 55%;
}

.headerImg .headerText {
	font-size: 60px;
	color: #fd5948;
}

/* MAIN */
main .borderBottom{
	margin: 90px 0;
	border-bottom: 1px solid rgb(240, 240, 240);
}
.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 40px auto;
	padding: 40px 0;
	width: 700px;
}
.about h2 {
	font-size: 30px;
	padding-bottom: 30px;
}

.about p {
	font-size: 20px;
	font-family: 'Times New Roman';
	line-height: 35px;
}

/* aboutYellow */

.aboutImg {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	height: 800px;
}

.console {
	width: 604px;
	z-index: 2;
}

.womenBlur {
	width: 460px;
	z-index: 2;
}

.yellowSquare {
	position: absolute;
	right: 0;
	margin-right: 0;
	height: 100%;
	width: 55vw;
	background-color: #fbffa7;
}

/* demoimg */
.demoImg {
	width: 700px;
	margin-top: 70px;
}

figcaption {
	font-size: 13px;
	font-weight: bold;
}

/* blueSquare*/
.blue {
	position: relative;
}

.blueSquare {
	position: absolute;
	height: 1000px;
	width: 55vw;
	background-color: #b1c5ff;
	z-index: -1;
}

.blueImg {
	display: flex;
	height: 1000px;
	justify-content: space-around;
	align-items: center;
}

.columnImg {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	padding: 40px 0;
}

.columnImg img {
	width: 480px;
	height: 360px;
}

.asideImg img {
	width: 600px;
	height: 650px;
}

/* chart */

.chart {
	display: flex;
	justify-content: center;
}
.chart img {
	width: 80vw;
}

.secondP {
	margin: 20px 0;
}

/* violet */
.violet {
	position: relative;
	height: 800px;
	width: 100vw;
}

.violetSquare {
	position: absolute;
	top: 0;
	left: 17%;
	height: 100%;
	width: 930px;
	background-color: #d5b3ff;
	z-index: -1;
}

.violetImg {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.violet .violetImg img:first-child {
	width: 33.33vw;
	height: 25vw;
	margin: 130px;
}

.violetImg img:last-child {
	width: 40vw;
	height: 40vw;
	object-fit: cover;
}

/* green */

.green {
	display: flex;
	margin: 0 auto;
	height: 600px;
	width: 1220px;
}

.greenSquare {
	height: 100%;
	width: 50%;
	background-color: #b6ffc0;
	z-index: -1;
}

.greenImg img {
	width: 40vw;
	height: 100%;
	object-fit: cover;
}

.greenText {
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin: 0 auto;
	width: 65%;
	height: 40vw;
}

.greenText h2,
a {
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
}

.greenText a {
	margin-top: 40px;
	text-decoration: none;
}


/* grid 21 */
.content h2 {
	margin: 90px 0;
	font-size: 64px;
	font-weight: 700;
}

.infoLinks{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3em;
	font-size: 1.9rem;
}

.infoLinks ul li {
	cursor: pointer;
	padding: 2px 0;
}

.infoLinks .col1 .socialIcons{
	font-size: 4rem;
}

.newsletterForm input{
	border: none;
	background-color: rgb(241, 241, 241);
	width: 60%;
	height: 36px;
	padding: 0 15px;
	font-size: 18px;
	margin-right: -4px;
}

.newsletterForm button{
	border: none;
	background-color: #0000ff;
	width: 30%;
	height: 36px;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
}

.infoLinks .col6 li form select{
	border: none;
	background-color: rgb(241, 241, 241);
	height: 3.6rem;
	width: 30%;
}

.infoLinks .col6 li form .country{
	width: 220px;
}

.infoContact{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
	margin-bottom: 120px;
	font-size: 1.4rem;

}

.leftContact{
	width: 50%;
}

.infoContact .leftContact ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	
}

.infoContact .rightContact{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* mediaqueries */

@media ();
